<!DOCTYPE html>
<html lang="en">
  {{>header}}

  <body>
      {{>navbar}}
      <div class="row">
        {{>sidebar}}

        <script type="text/javascript" src="/backend/file/js/meetings.js"></script>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Weitblick Meetings</h1>

			<div class="row">
				<div class="col-xs-6 col-sm-3">
					<a href="/backend/meetings/add">Add new Meeting</a>
				</div>
			</div>

			<div class="row">
			  {{#projects}}
			  <a href="/backend/projects/{{language}}/edit/{{id}}">
			  <div class="col-xs-6 col-sm-3 previewImage">
			  	<div class="cropcycle">
			    	<img src="{{#previewImage}}{{uri}}{{/previewImage}}" class="portrait" alt="{{name}}">
			    </div>
			    <h4>{{name}}</h4>
			    <span class="text-muted">{{abst}}</span>
			  </div>
			  </a>
			  {{/projects}}
			</div>

			<h2 class="sub-header">Meetings Overview</h2>
			<div class="table-responsive">
			  <table class="table table-striped">
			    <thead>
			      <tr>
			        <th>ID</th>
			        <th>Titel</th>
			        <th>Hosts</th>
			        <th>Date & Time</th>
			        <th>Location</th>
			        <th>Bearbeiten</th>
			      </tr>
			    </thead>
			    <tbody>
			      {{#meetings}}
			      <tr>
			        <th scope="row">{{id}}</th>
			        <td>{{name}}</td>
			        <td>	
						{{#host}}<a href="/backend/hosts/edit/{{id}}">{{name}}</a>{{/host}}
			        </td>
			        <td>{{datetime}}</td>
			        <td>{{#location}}<a href="/backend/locations/en/edit/{{id}}">{{name}}</a>{{/location}}
			        </td>
			        <td>
			          <a href="/backend/meetings/{{language}}/edit/{{id}}">
			            <i class="fa fa-pencil" aria-hidden="true"></i>
			          </a>

			          <a class="delete" href="/rest/meeting/remove/{{id}}">
			            <i class="fa fa-trash" aria-hidden="true"></i>
			          </a>

                        <a class="clone" href="/rest/meeting/clone/{{id}}">
                            <i class="fa fa-copy" aria-hidden="true"></i>
                        </a>
			        </td>
			      </tr>
			      {{/meetings}}
			    </tbody>
			  </table>
			</div>
        </div>
      </div>
  </body>
</html>