<!DOCTYPE html>
<html lang="en">
  {{>header}}

  <body>

  	<script type="text/javascript">
  		$.fn.editable.defaults.mode = 'inline';
    
	    $(document).ready(function() {
	        $('.editable').not('#location').editable({
	        	//url: '/rest/project/edit',
	        	ajaxOptions: {
	        		contentType: 'application/json',
	        		dataType: 'json' 
	        	},
	        	params: function(params) {
	        		var ret = {};
	        		ret['id'] = params.pk;
	        		ret[params.name] = params.value;

	        		console.log(params);
	        		console.log(ret);
    				return JSON.stringify(ret);
				},
				validate: function(value) {
        			if($.trim(value) == '') {
            			return 'This field is required';
        			}
    			}
	    	});


			$('#location').editable({
				value: 2,
		        source: function(){
		        	var list = [];
		        	$.ajax({
		        		url: "/rest/location/list",
		        		async: false,
		        		dataType: 'json',
		        		success: function( data ) {
		        			data.forEach(function(elem){
		        				var elemObj = {
		        					value: elem.id,
		        					text: "".concat(elem.id, " – ", elem.street, " ", elem.number, ", ", elem.country)
		        				};
		        				list.push(elemObj);
		        			});
		        		}
					});

					var ret = JSON.stringify(list);
		        	console.log(ret);
					return ret;
		        }
		    });

	
			$('#save-btn').click(function() {
				console.log("clicked...");
				$('.editable').editable('submit', { 
					url: '/rest/project/new',

					params: function(params) {
						console.log("params...");
						console.log(params);
		        		var ret = {};
		        		ret[params.name] = params.value;

		        		console.log(params);
		        		console.log(ret);
	    				return JSON.stringify(ret);
					},

					ajaxOptions: {
						dataType: 'json',
						contentType: 'application/json',
						beforeSend: function(jqXHR,options){
								console.log(options);
							if ( options.contentType == "application/json") {
								console.log("convert...");
								var opject = JSON.parse('{"' + decodeURI(options.data).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}');
								options.data = JSON.stringify(opject);
								console.log(options.data);
							}
						}
					},

					success: function(data, config) {
						if(data && data.id) {  //record created, response like 
							$(this).editable('option', 'pk', data.id);
							//remove unsaved class
							$(this).removeClass('editable-unsaved');
							//show messages
							var msg = 'New project created! Now editables submit individually.';

							$('#msg').addClass('alert-success').removeClass('alert-error').html(msg).show();
							$('#save-btn').hide(); 
							$(this).off('save.newuser');
						} else if(data && data.errors){ 
							//server-side validation error, response like {"errors": {"username": "username already exist"} }
							config.error.call(this, data.errors);
						}               
	           		},
	           		error: function(errors) {
						var msg = '';
						if(errors && errors.responseText) {
							//ajax error,errors = xhr object
							msg = errors.responseText;
						} else { //validation error (client-side or server-side)
							$.each(errors, function(k, v) { msg += k+": "+v+"<br>"; });
						} 
						$('#msg').removeClass('alert-success').addClass('alert-error').html(msg).show();
					}
				});
			});
	    });

    </script>

    <div id="msg" class="alert hide"></div>

	<div class="panel panel-default">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Title</h3>
		  </div>
		  <div class="panel-body">
		    <a href="#" class="editable title" id="name" data-type="text" data-pk="{{id}}" data-title="Enter title">{{name}}</a>
		  </div>

		  <div class="panel-heading">
		    <h3 class="panel-title">Abstract</h3>
		  </div>
		  <div class="panel-body">
		    <a href="#" class="editable abstract" id="abst" data-type="textarea" data-pk="{{id}}" data-title="Enter abstract">{{abst}}</a>
		  </div>

		  <div class="panel-heading">
		    <h3 class="panel-title">Description</h3>
		  </div>
		  <div class="panel-body">
		    <a href="#" class="editable description" id="desc" data-type="textarea" data-pk="{{id}}" data-title="Enter description">{{desc}}</a>
		  </div>

		  <div class="panel-heading">
		    <h3 class="panel-title">Location</h3>
		  </div>
		  <div class="panel-body">
		    <a href="#" class="editable location" id="location" value="{{location.id}}" data-type="select" data-pk="{{id}}" data-title="Select location"></a>
		  </div>

		</div>
	</div>
	<button id="save-btn" class="btn btn-primary" style="display: inline-block;">Save new project!</button>
	<button id="reset-btn" class="btn pull-right">Reset</button>
  </body>
</html>