<!DOCTYPE html>
<html lang="{{language}}">
	{{>header}}
	<body>
		{{>navbar}}
    	<div class="row">
    		{{>sidebar}}

    		<script type="text/javascript" src="/backend/file/updateLocation.js"></script>
			<script async defer
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWPjFx14--lD8Ws597M_TXWWKCUlK3z-A&callback=initialize">
			</script>

        	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        		<span>current language:{{language}} </span><span> – switch laguage:</span>

			   	<a href="/backend/projects/de/edit/{{id}}">
			   		<i class="flag-icon flag-icon-de"></i> DE
				</a>
				<a href="/backend/projects/en/edit/{{id}}">
			   		<i class="flag-icon flag-icon-gb"></i> EN
				</a>
				<a href="/backend/projects/fr/edit/{{id}}">
					<i class="flag-icon flag-icon-fr"></i> FR
				</a>

				<div onload="initialize()" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Map</h3>
					<p class="msg map"></p>
				</div>
				<div class="panel-body">
					<div id="map" style="width: 100%; height: 400px;"></div>
					<div>
						<input id="address" type="textbox" value="Osnabrück, De">
						<input type="button" value="Encode" onclick="codeAddress()">
					</div>
				</div>
				</div>

		          <div class="panel panel-default">
		            <div class="panel-heading">
		              <h3 class="panel-title">Town</h3>
		              <p class="msg town"></p>
		            </div>
		            <div class="panel-body">
		              <a href="#" class="editable town" id="town" data-type="text" data-pk="{{town}}" data-title="Enter town">{{town}}</a>
		            </div>
		          </div>

		          <div class="panel panel-default">
		            <div class="panel-heading">
		              <h3 class="panel-title">Postal Code</h3>
		              <p class="msg postalCode"></p>
		            </div>
		            <div class="panel-body">
		              <a href="#" class="editable postalCode" id="postalCode" data-type="text" data-pk="{{postalCode}}" data-title="Enter postal code">{{postalCode}}</a>
		            </div>
		          </div>

		          <div class="panel panel-default">
		            <div class="panel-heading">
		              <h3 class="panel-title">Street</h3>
		              <p class="msg street"></p>
		            </div>
		            <div class="panel-body">
		              <a href="#" class="editable street" id="street" data-type="text" data-pk="{{street}}" data-title="Enter street">{{street}}</a>
		            </div>
		          </div>

		          <div class="panel panel-default">
		            <div class="panel-heading">
		              <h3 class="panel-title">Number</h3>
		              <p class="msg number"></p>
		            </div>
		            <div class="panel-body">
		              <a href="#" class="editable number" id="number" data-type="text" data-pk="{{number}}" data-title="Enter number">{{number}}</a>
		            </div>
		          </div>

		          <div class="panel panel-default">
		            <div class="panel-heading">
		              <h3 class="panel-title">Longitude</h3>
		              <p class="msg longitude"></p>
		            </div>
		            <div class="panel-body">
		              <a href="#" class="editable longitude" id="longitude" data-type="text" data-pk="{{longitude}}" data-title="Enter longitude">{{longitude}}</a>
		            </div>
		          </div>

		          <div class="panel panel-default">
		            <div class="panel-heading">
		              <h3 class="panel-title">Latitude</h3>
		              <p class="msg latitude"></p>
		            </div>
		            <div class="panel-body">
		              <a href="#" class="editable latitude" id="latitude" data-type="text" data-pk="{{latitude}}" data-title="Enter latitude">{{country}}</a>
		            </div>
		          </div>

		          <div class="panel panel-default">
		            <div class="panel-heading">
		              <h3 class="panel-title">Country</h3>
		              <p class="msg country"></p>
		            </div>
		            <div class="panel-body">
		              <a href="#" class="editable country" id="country" data-type="text" data-pk="{{country}}" data-title="Enter country">{{country}}</a>
		            </div>
		          </div>

		          <div class="panel panel-default">
		            <div class="panel-heading">
		              <h3 class="panel-title">Addition</h3>
		              <p class="msg addition"></p>
		            </div>
		            <div class="panel-body">
		              <a href="#" class="editable addition" id="addition" data-type="text" data-pk="{{country}}" data-title="Enter addition">{{addition}}</a>
		            </div>
		          </div>  
			</div>
		</div>
	</body>
</html>