<!DOCTYPE html>
<html lang="{{language}}">
	{{>header}}
	<body>
		{{>navbar}}
    	<div class="row">
    		{{>sidebar}}

    		<script type="text/javascript" src="/backend/file/updateProject.js"></script>

        	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        		<span>current language:{{language}} </span><span> – switch laguage:</span>

			   	<a href="/backend/projects/de/edit/{{id}}">
			   		<i class="flag-icon flag-icon-de"></i> DE
				</a>
				<a href="/backend/projects/en/edit/{{id}}">
			   		<i class="flag-icon flag-icon-gb"></i> EN
				</a>
				<a href="/backend/projects/fr/edit/{{id}}">
					<i class="flag-icon flag-icon-fr"></i> FR
				</a>


				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Title</h3>
					</div>
					<div class="panel-body">
						<a href="#" class="editable" id="name" data-type="text" data-pk="{{id}}" data-title="Enter username" data-url="/rest/project/update/{{language}}">{{name}}</a>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Abstract</h3>
					</div>
					<div class="panel-body">
						<a href="#" class="editable" id="abst" data-type="textarea" data-pk="{{id}}" data-title="Enter username" data-url="/rest/project/update/{{language}}">{{abst}}</a>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Description</h3>
					</div>
					<div class="panel-body">
						<a href="#" class="editable" id="desc" data-type="textarea" data-pk="{{id}}" data-title="Enter username" data-url="/rest/project/update/{{language}}">{{desc}}</a>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Location</h3>
					</div>
					<div class="panel-body">
						<a href="#" class="editable location" id="location" value="{{location.id}}" data-type="select" data-pk="{{id}}" data-title="Select location" data-url="/rest/project/update/{{language}}">{{location.id}}</a>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Images</h3>
					</div>
					<div class="panel-body">
						<input id="upload-images" name="file" type="file" multiple class="file-loading">

						<script type="text/javascript">
							$(document).ready(function() {
								$("#upload-images").fileinput({
									uploadUrl: '/rest/project/{{id}}/upload-image',
									uploadAsync: true,
									maxFileCount: 20,
									initialPreview: [
										{{#images}}
										'{{uri}}',
										{{/images}}
									],
									initialPreviewAsData: true,
									initialPreviewConfig: [
										{{#images}}
										{
											caption: "{{name}}",
											size: {{size}},
											width: "120px",
											key: {{id}},
											url: "http://localhost:8180/rest/project/{{id}}/remove-image/{{imageId}}"
										},
										{{/images}}
									],
									ajaxDeleteSettings : {method: "GET"},
									overwriteInitial: false,
									maxFileSize: 1000,
									initialCaption: "Please select images to upload!"
							    });
							});
						</script>

					</div>
				</div>
				        
			</div>
		</div>
	</body>
</html>