<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
	{{>navbar}}
	<div class="row">
		{{>sidebar}}

		<script type="text/javascript" src="/backend/file/locations.js"></script>

		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Weitblick Locations</h1>

			<div class="row">
				<div class="col-xs-6 col-sm-3">
					<a href="/backend/locations/add">Add new Location</a>
				</div>
			</div>

			<div class="row">
				{{#locations}}
				<a href="/backend/locations/{{language}}/edit/{{id}}">
					<div class="col-xs-6 col-sm-3 previewImage">
						<div class="previewMap" id="map-{{id}}"></div>
						<h4>{{street}} {{number}}, {{postalCode}} {{town}}, {{country}}</h4>
						<span class="text-muted">{{abst}}</span>
					</div>
				</a>
				{{/locations}}
			</div>


			<script>
				function initMaps() {

					{{#locations}}

					var latlng = new google.maps.LatLng({{latitude}},{{longitude}});

					// map number {{id}} for {{street}} {{number}} {{town}}
					var map{{id}} = new google.maps.Map(document.getElementById('map-{{id}}'), {
						zoom: {{mapZoom}},
						center: latlng,
						disableDefaultUI: true,
						draggable: false,
						zoomControl: false,
						scrollwheel: false,
						disableDoubleClickZoom: true
					});
					var marker{{id}} = new google.maps.Marker({
						map: map{{id}},
						position: latlng
					});

					{{/locations}}
				}
			</script>
			<script async defer	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWPjFx14--lD8Ws597M_TXWWKCUlK3z-A&callback=initMaps">
			</script>

			<h2 class="sub-header">Locations Overview</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Street</th>
							<th>Number</th>
							<th>Town</th>
							<th>Country</th>
							<th>Addition</th>

						</tr>
					</thead>
					<tbody>
						{{#locations}}
						<tr>
							<th scope="row">{{id}}</th>
							<td>{{street}}</td>
							<td>{{number}}</td>
							<td>{{town}}</td>
							<td>{{country}}</td>
							<td>{{addition}}</td>

							<td>
								<a href="/backend/locations/{{language}}/edit/{{id}}">
									<i class="fa fa-pencil" aria-hidden="true"></i>
								</a>

								<a class="delete" href="/rest/location/remove/{{id}}">
									<i class="fa fa-trash" aria-hidden="true"></i>
								</a>
							</td>
						</tr>
						{{/locations}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>