<!DOCTYPE html>
<html lang="en">
  {{>header}}
  <body>
    <h1>Weitblick Projekte</h1>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<div class="panel panel-default">
		<div class="panel-heading">Projekte</div>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Titel</th>
					<th>Abstract</th>
					<th>Beschreibung</th>
					<th>Bearbeiten</th>
				</tr>
			</thead>
			<tbody>
				{{#projects}}
				<tr>
					<th scope="row">{{id}}</th>
					<td>{{name}}</td>
					<td>{{abst}}</td>
					<td>{{desc}}</td>
					<td>
						<a href="admin/edit/{{id}}">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
				{{/projects}}
			</tbody>
		</table>
	</div>
  </body>
</html>