<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li><a href="/backend/projects/en">Projects</a></li>
		<li><a href="/backend/locations/en">Locations</a></li>
		<li><a href="/backend/hosts">Hosts</a></li>
		<li><a href="/backend/users">User</a></li>
		<li><a href="/backend/meetings/en">Meetings</a></li>
	</ul>
</div>