<!DOCTYPE html>
<html lang="en">
  {{>header}}

  <body>
        <h1>File Upload</h1>
     
        <form action="/rest/upload" method="post" enctype="multipart/form-data">
     
            <p>Select a file : <input type="file" name="file" size="45" accept=".jpg" /></p>
            <input type="submit" value="Upload PDF" />
             
        </form>

  </body>
</html>